body {
  /* background-color: grey; */
  
}
h3{
  font-size:15px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

.mainTitle {
  border: solid black;
}
.nameTitle {
  margin-left: 400px;
}

.parentSection {
  display: flex;
  padding: 12px;
  justify-content: space-around;
}
.mainSections {
  border: solid black;
  margin: 2px;
  padding: 5px;
  font-family: serif;
  font-size: 25px;
  width: 150px;
  height: 30px;
  border-radius: 45px;
  text-align: center;
}
.mainSections:hover {
  border: solid black;
  margin: 2px;
  background-color: beige;
  padding: 5px;
  font-family: serif;
  font-size: 25px;
  border-radius: 65px;
  text-align: center;
  transition: 1s;
}
.submainParent{
padding: 30px;
}
.subPageMain {
  margin: 15px;
  padding: 10px;
  height: 300px;
  font-size: 25px;
  font-family: cursive;
  color: white;
  padding: 15px;
  text-align: justify;
}
.subPageMain2 {
    margin: 35px;
    padding: 10px;
    height: 300px;
    font-size: 25px;
    font-family: serif;
    border-radius:35px;
    border:solid black; 
    color: black;
    padding: 15px;
    text-align: justify;
    background-color: beige;

  }
/* ================================== */
.exampleDiv7 {
  border: solid black;
  padding: 15px;
  /* margin: 12px; */
  width:100px;
  height: 70px;
  background-color: white;
  text-align: center;
  border-radius:65px;
}.exampleDiv8 {
  border: solid black;
  padding: 15px;
  /* margin: 12px; */
  width:100px;
  height: 70px;
  background-color: white;
  text-align: center;
  border-radius:65px;
}.exampleDiv9 {
  border: solid black;
  padding: 15px;
  /* margin: 12px; */
  width:100px;
  height: 70px;
  background-color: white;
  text-align: center;
  border-radius:65px;
}
  /* =======================
   */
  .exampleDiv3{
    border: solid black;
    height:520px;
    width:450px;
    margin-left:360px;
  }
.exampleDiv2 {
  border: solid black;
  padding: 15px;
  /* margin: 12px; */
  width:100px;
  height: 70px;
  background-color: white;
  text-align: center;
  border-radius:65px;
}
.exampleDiv {
  border: solid black;
  padding: 15px;
  margin: 12px;
  width:500px;
  height: 70px;
  background-color: white;
  text-align: center;
  /* border-radius:65px; */
}
.exDivShow{
  border: solid black;
  height: 180px;
  width: auto;
  margin-top:25px;
}
.exDivParent{
  display: flex;
  justify-content: space-around;
}

.logojmw {
  width: 70px;
  height: auto;
  margin: 3px;
  position: absolute;
  margin-left: 1000px;
}
.logoParent{
    justify-content: space-between;
    display: flex;
}
.logobutton{
    border:solid black;
    border-radius:50%;
}
.submainParent{
    border:solid black;
}
.subPageMain{
    border:solid black;
    height:80px;
    

}
.mainCircles{
    border:solid black;
    border-radius:25px;
     width:90px;
    height:40px; 
    background-color: beige;  
    padding: 10px;
    text-align: center;
}
.mainCircles2{
    border:solid rgb(12, 8, 8);
    border-radius:25px;
     width:90px;
    height:40px; 
    background-color: beige;  
    padding: 10px;
    text-align: center;
}
.mainCircles3{
    border:solid black;
    border-radius:25px;
     width:90px;
    height:40px;   
    background-color:
     beige;
     padding: 10px;
     text-align: center;
}
.mainCircles4{
    border:solid black;
    border-radius:25px;
     width:90px;
    height:40px;  
    background-color:
     beige; 
     padding: 10px;
     text-align: center;
}
.mainCircles5{
    border:solid black;
    border-radius:25px;
     width:90px;
    height:40px; 
    background-color:
     beige;  
     padding: 10px;
     text-align: center;
}


.circleParent{
    display: flex;
    justify-content: space-around;
}
.underConstruction{
  color:red;
}